.stocks {
   padding-top: 85px;
   padding-bottom: 80px;

   @media(max-width:1050px) {
      padding-bottom: 0px;
   }

   @media(max-width: 460px) {
      padding-top: 60px;

   }

   &__container {}

   &__items {
      @media(max-width: 1060px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__item {
      width: 100%;
      height: 450px;
      display: flex;
      box-shadow: 0px 4px 14px rgba(10, 70, 104, 0.18);
      border-radius: 7px;
      background: #E8F2FA;

      @media(max-width: 1060px) {
         flex-direction: column;
         width: 488px;
         height: auto;
      }

      @media(max-width: 500px) {
         width: 388px;
      }

      @media(max-width: 400px) {
         width: 348px;
      }
   }

   &__item:not(:last-child) {
      margin-bottom: 43px;
   }

   &__image {}

   &__img {
      width: 488px;
      height: 450px;
      display: block;

      @media(max-width: 1060px) {
         border-radius: 0px 7px 7px 0px;
      }

      @media(max-width: 500px) {
         width: 388px;
         height: 350px;
      }

      @media(max-width: 400px) {
         width: 348px;
         height: 310px;
      }
   }

   &__content {
      padding: 62px 93px 78px 32px;

      @media(max-width: 1216px) {
         padding: 62px 20px 78px 32px;
      }

      @media(max-width: 1060px) {
         padding: 62px 20px 78px 20px;
         width: 488px;
      }

      @media(max-width: 500px) {
         width: 388px;
         padding: 32px 53px 48px 15px;
      }

      @media(max-width: 400px) {
         width: 348px;
         padding: 32px 25px 48px 15px
      }
   }

   &__title {
      font-weight: 700;
      font-size: 44px;
      line-height: 1.2;
      margin-bottom: 36px;

      @media(max-width: 500px) {
         font-size: 36px;
         margin-bottom: 26px;
      }

      @media(max-width: 400px) {
         font-size: 32px;
      }
   }

   &__title span {
      color: #FF6200;
   }

   &__subtitle {
      font-size: 24px;
      line-height: 1.16;
      margin-bottom: 50px;
      color: #59768C;

      @media(max-width: 500px) {
         font-size: 20px;
         margin-bottom: 30px;
      }

   }

   &__button {}

   &__br-1 {
      @media(min-width: 501px) {
         display: none;
      }
   }
}