.transition-menu {
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background: #59768c;
   display: none;

   &__content {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.16;
      color: #FFFFFF;
      display: flex;
      align-items: center;

      @media(max-width: 1220px) {
         font-size: 16px;
      }
   }

   &__title img {
      margin-left: 20px;

      @media(max-width: 1220px) {
         width: 20px;
         height: 20px;
      }
   }

   &__items {
      display: flex;
      align-items: center;
   }

   &__items a {
      width: 206px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 1.16;
      color: rgba(52, 71, 87, 0.6);
      transition: all 0.2s ease 0s;
      position: relative;

      @media(max-width: 1220px) {
         height: 49px;
         width: 190px;
         font-size: 16px;
      }
   }

   &__items a::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 50%;
      right: 0px;
      transform: translate(0%, -50%);
      width: 1px;
      height: 35px;
      background-color: rgba(52, 71, 87, 0.6);

      @media(max-width: 1220px) {
         right: -1px;
      }
   }

   &__items a:last-child::before {
      width: 0px;
      height: 0px;
   }

   &__item sup {
      font-size: 10px;
      margin-bottom: 12px;
      font-weight: 700;
   }

   &__items a:hover {
      background: #344757;
      color: #fff;
   }
}

body._pc .header__body .menu__title._open .transition-menu {
   display: block;
}

body._touch .header__body .menu__title._open .transition-menu {
   display: block;
}